<ul>
  <%= content_tag :li, "Loo Type: #{display_loo_type(loo.loo_type)}" unless loo.loo_type.blank? %>
  <%= content_tag :li, "Gender Type: #{display_gender_type(loo.genders)}" unless loo.genders.blank? %>
  <%= content_tag :li, "No of toilets: #{loo.no_of_toilets}" unless loo.no_of_toilets.blank? %>
  <%= content_tag :li, "No of bathrooms: #{loo.no_of_bathrooms}" unless loo.no_of_bathrooms.blank? %>
  <%= content_tag :li, "No of bathrooms: #{loo.no_of_urinals}" unless loo.no_of_urinals.blank? %>
  <%= content_tag :li, "Open hours: #{loo.open_hours}" unless loo.open_hours.blank? %>
  <%= content_tag :li, "Closing hours: #{loo.closing_hours}" unless loo.closing_hours.blank? %>
  <%= content_tag :li, loo.open_closing_note unless loo.open_closing_note.blank? %>
  <%= content_tag :li, loo.paid? ? "Paid" : "Free" %>
</ul>
<br />
<% unless loo.managed_by.blank? %>
<p>
  <strong>Managed by: </strong>
  <%= content_tag :h4, loo.managed_by %>
</p>
<% end %>