<div class="container">
  <div class="row">
    <div class="col-md-10 center-block" style="float: none;">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 style="margin: 0;"><%= @category.name %> (<%= @category.loos.size %>)</h2>
        </div>
        <div class="panel-body">
          <% if @category.loos.empty? %>
            <div class="alert alert-warning">
              No records found.
            </div>
          <% else %>
            <%= render @category.loos %>
          <% end %>
        </div>
      </div>
      <% if user_signed_in? %>
      <%= link_to 'Edit', edit_category_path(@category) %> |
      <%= link_to 'Back', categories_path %>
      <% end %>
    </div>
  </div>
</div>
