<div class="header">
  <nav>
    <ul class="nav nav-pills pull-right">
      <li role="presentation"><a href="<%= city_makers_path %>">CityMakers</a></li>
      <li role="presentation"><a href="<%= categories_path %>">Categories</a></li>
      <li role="presentation"><a href="<%= contact_path %>">Contact</a></li>
      <% unless user_signed_in? %>
        <li role="presentation"><a href="<%= new_user_session_path %>" class="btn btn-default ">Sign in</a></li>
      <% else %>
        <li><a href="#">Welcome, <%= current_user.email %></a></li>
        <li role="presentation"><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
      <% end %>
    </ul>
  </nav>
  <h3 class="text-muted"><a href="<%= root_path %>">CityMakers</a></h3>
</div>
